@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
}

body {
  font-family: 'Azeret Mono', monospace;
}

main {
  width: 1140px;
  margin: 0 auto;
}

/* Common Styles */
.common-heading2 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  margin-bottom: 24px;
}
.common-heading3 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 16px;
}
.common-heading4 {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  margin-bottom: 8px;
}
.common-desc {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 48px;
  opacity: 0.7;
}
.common-sub-desc {
  width: 852px;
  margin-left: auto;
  margin-right: auto;
}
.common-btn1 {
  padding: 12px 20px;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  cursor: pointer;
}
.learn-more {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  border-bottom: 2px solid black;
}
.learn-more:hover {
  color: rgba(13, 19, 33, 0.8);
  border-bottom: 2px solid rgba(13, 19, 33, 0.8);
}

/* Nav */
nav {
  width: 100%;
}
nav div {
  width: 1140px;
  margin: 0 auto;
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav div h2 {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
}
nav div button {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  padding: 17px 24px;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  cursor: pointer;
}

/* Banner */
.banner {
  background-image: url('../assets/Hero-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-width: 1440px;
  height: 652px;
  margin: 0 auto 74px auto;
  padding-top: 26px;
}
.banner-content {
  width: 998px;
  margin: 0 auto;
  text-align: center;
}
.banner-content img {
  width: 240.28px;
  height: 240px;
  margin-bottom: 32px;
}
.heading-1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  margin-bottom: 24px;
}
.banner-content p {
  margin-bottom: 32px;
}
.banner-btn {
  color: white;
  background: rgb(13, 19, 33);
  padding: 21px 24px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.4s;
}
.banner-btn:hover {
  transform: scale(1.1);
}

/* Why DW Section */
.why-wd {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  width: 100%;
  padding: 80px 97px;
  margin-bottom: 90px;
}
.wwd-content {
  width: 946px;
  text-align: center;
}
.wwd-content article {
  width: 100%;
  padding: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}
.wwd-article1,
.wwd-article3 {
  background-image: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 16px;
}
.wwd-article2 {
  border-radius: 16px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}
.wwd-article-desc {
  width: 477px;
  text-align: left;
}
.wwd-article-desc p {
  margin-bottom: 32px;
}
.wwd-article-img img {
  width: 259.56px;
  height: 217.01px;
}

/* My Inspiration */
.my-ins {
  text-align: center;
  margin-bottom: 151px;
}
.yt-div {
  padding: 32px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}
.yt-div iframe {
  border-radius: 16px;
}

/* Current Target */
.current-target {
  text-align: center;
  margin-bottom: 111px;
}
.ct-cards {
  display: flex;
  gap: 24px;
}
.ct-card {
  padding: 40px;
  text-align: left;
  border-radius: 16px;
}
.html-card {
  background: rgba(255, 76, 30, 0.05);
}
.css-card {
  background: rgba(0, 76, 232, 0.05);
}
.js-card {
  background: rgba(255, 223, 0, 0.05);
}
.ct-card img {
  height: 56px;
}
.ct-card p {
  margin-bottom: 24px;
}

/* Next Target */
.next-target {
  text-align: center;
  margin-bottom: 49px;
}
.next-target article {
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  padding: 40px;
  margin-top: 24px;
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.nt-content {
  width: 85%;
  text-align: left;
}
.nt-img {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Support Section */
.support-sec {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('../assets/handshake.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 64px;
  border-radius: 16px;
  margin-bottom: 80px;
}
.support-sec h2 {
  color: white;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 16px;
}
.support-sec p {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.support-sec form {
  width: 684px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.support-sec form input {
  width: 548px;
  padding: 19px 20px;
  background-color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  outline: none;
}
.support-sec form input::placeholder {
  color: rgba(13, 19, 33, 0.4);
}
.support-sec form button {
  width: 120px;
  padding: 17px 20px;
  color: rgb(13, 19, 33);
  background-color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  border-radius: 8px;
  cursor: pointer;
}
.support-sec form button:hover {
  color: black;
  background-color: rgb(224, 224, 224);
}

/* Footer */
footer {
  background: rgba(13, 19, 33, 0.03);
  width: 100%;
  border-radius: 16px;
}
.foot-div {
  width: 1140px;
  margin: 0 auto;
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foot-div p {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
}
.foot-div ul {
  display: flex;
}
.foot-div ul li a img {
  width: 36px;
  margin-left: 24px;
}
